* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #c50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* solution */
.container {
  display: grid;
  grid-template-areas: 
  'header header header header header'
  'sidebar sidebar nav nav nav'
  'sidebar sidebar article article article'
  'footer footer footer footer footer';
  gap: 3px;
  min-height: 100dvh;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas: 'logo logo menu menu menu';
  align-items: center;
}

.logo {
  grid-area: logo;
  justify-self: flex-start;
}

.menu {
  grid-area: menu;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  column-gap: 15px;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  align-content: space-between;
  gap: 4rem;
  grid-template-rows: repeat(4, 1fr);
}

.sidebar * {
  display: grid;
  place-items: center;
}

.nav {
  grid-area: nav;
  display: grid;
}

.nav > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.article {
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.article .card {
  padding-bottom: 40px;
}

.footer {
  grid-area: footer;
  display: grid;
  align-items: center;
}

li {
  list-style: none;
}
